<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="school-outline"></ion-icon>
      <ion-label>Escolas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
