<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Escolas Favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoritas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let escola of favoritesSchools | keyvalue">
    <ion-card-header>
      <ion-card-title>{{escola.value.noEntidade}} <ion-icon (click)="updateFavorite(escola.value.coEntidade, escola.value)" [name]="favoritesSchools.has(escola.key) ? 'heart' : 'heart-outline'"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Código Inep: {{escola.value.coEntidade}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Rede: {{escola.value.rede}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Localização: {{escola.value.noMunicipio}}/{{escola.value.sgUf}} - {{escola.value.localizacao}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-button>Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
