ion-content {
  --padding-end: 16px;
  --padding-start: 16px;
}

ion-card-title {
  display: flex;
  justify-content: space-between;
}

ion-searchbar {
  --border-radius: 30px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin-top: 12px;
}

ion-card {
  margin-bottom: 24px;
}