<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Escolas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escolas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar 
    placeholder="Digite ome da escola ou cód. Inep" [(ngModel)]="searchTerm"></ion-searchbar>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <ion-button expand="block" (click)="search()" shape="round">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text *ngIf="schools$ | async as schools">
    <h3>Escolas Encontradas</h3>
  </ion-text>

  <ion-card *ngFor="let escola of schools$ | async">
    <ion-card-header>
      <ion-card-title>{{escola.noEntidade}} <ion-icon (click)="updateFavorite(escola.coEntidade, escola)" [name]="favoritesSchools.has(escola.coEntidade) ? 'heart' : 'heart-outline'"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Código Inep: {{escola.coEntidade}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Rede: {{escola.rede}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Localização: {{escola.noMunicipio}}/{{escola.sgUf}} - {{escola.localizacao}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-button>Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
